
.faq-container{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin:30px 0px 30px 0px;
    min-height:90vh;
    padding-bottom:40px;
}

.extra-faq-item{
    display:flex;
    align-items: flex-start;
}

.faq-item{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.list-heading{
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #101828;
}

.list-paragraph{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #475467;
}

.list-items-container{
    display:flex;
    flex-direction: column;
    padding:20px;
    width:90%;
}

.extra-faq-item-text-container{
    width:311px;
}

@media screen and (min-width:768px){
    .list-items-container{
        width:70%;
        margin-top:20px;
    }

    .extra-faq-item-text-container{
        width:100%;
    }
    .faq-container{
        margin-top: 50px;
    }
}

.still-have-question-container{
    padding:20px;
}

.still-have-questions-heading{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #101828;
}

.still-hava-questions-paragraph{
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#475467;
}

.get-in-touch-button{
    width: 134px;
    height: 48px;
    padding: 12px;
    gap: 8px;
    border-radius: 8px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    color:white;
    background-color: red;
    border-width: 0px;
}


@media screen and (min-width:768px){
    .still-have-question-container{
        margin:30px 0px 0px 0px;
    }
}