.nav-header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(243, 243, 243);
    margin-top:20px;
  }
  
  @media screen and (max-width: 768px) {
    .nav-header {
      flex-direction: column;
      align-items: center;
      border-bottom-style: none;
    }
  }
  
  .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1110px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media screen and (max-width: 768px) {
    .nav-content {
      flex-direction: column;
    }
  }
  
  .nav-bar-mobile-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  @media screen and (min-width: 768px) {
    .nav-bar-mobile-logo-container {
      display: none;
    }
  }
  
  .nav-bar-large-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1110px;
    height:40px;
    padding:0px 20px 0px 20px;
    gap: 0px;
    opacity:0px;

  }
  
  @media screen and (max-width: 767px) {
    .nav-bar-large-container {
      display: none;
    }
  }
  
  .nav-menu {
    display: flex;
    flex-direction: row;
    margin-top:30px;
    margin-left: 15px;
    align-items:center;
  }
  
  @media screen and (max-width: 767px) {
    .nav-menu {
      display: none;
    }
  }
  .nav-menu-mobile {
    width: 100%;
    width:40px;
    height:40px;
  }
  
  @media screen and (min-width: 768px) {
    .nav-menu-mobile {
      display: none;
    }
  }
  
  .nav-menu-list-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: #e6f6ff;
    flex: 1;
    list-style-type: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  
  .nav-menu-item {
    font-family: 'Roboto';
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
    font-size: 16px;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #475569;
  }
  
  .nav-menu-item-mobile {
    margin: 0px;
    cursor: pointer;
  }
  
  
  .nav-bar-image {
    width: 24px;
  }
  
  
.drop-down-image{
    width: 40px;
    height: 40px;
    gap: 0px;
    border-radius: 200px;
    opacity: 0.08px;
}

.border-none{
    border:none;
    outline:none;
}

.company-name{
    width: 18.83px;
    height: 18.62px;
    top: 13.37px;
    left: 38.84px;
    gap: 0px;
    opacity: 0px;
    color: #E63F3A;

}

.nav-image-items-container{
  display: flex;
  align-items: center;
}